@charset "UTF-8";

*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
}

.content{
    margin: .5rem;
    padding: .5rem;
}

.content h1{
    margin: .2rem;
}

.pokemons{
    padding: 0;
}

.pokemons{
    margin: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.pokemon{
    display: flex;
    flex-flow: column;
    margin: .5rem;
    background-color: #49d0b0;
    padding: 1rem;
    color: white;
    border-radius: 0.5rem;
    
}

.pokemon .number{
    color: rgba(0, 0, 0, 0.616);
    text-align: right;
}

.pokemon .types{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.details{
    display: flex;
    flex-flow: row;
}

.pokemon .detail img{
    
    border-style: none;
    max-width: 100%;
    height: 100px;
}