@charset "UTF-8";

*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: #f6f8fc;
}

.content{
    margin: .5rem;
    padding: .5rem;
    background-color: white;
    height: 100vh;
}

.content h1{
    margin: .2rem;
}

.pokemons{
    padding: 0;
}

.pokemons{
    margin: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.pokemon{
    display: flex;
    flex-flow: column;
    margin: .5rem;
    background-color: #49d0b0;
    padding: 1rem;
    color: white;
    border-radius: 0.5rem;
    
}

.pokemon .number{
    color: rgba(0, 0, 0, 0.616);
    text-align: right;
    font-size: .7rem;
}

.pokemon .name{
    margin: 0.2rem 0rem;
}

.pokemon .types{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.detail{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail img{
    align-self: flex-end ;
    border-style: none;
    max-width: 100%;
    height: 70px;
}

.pokemon .detail .types .type{
    
    background-color: #61e1ca;
    width: 2.5rem;
    font-size: .6rem;
    border-radius: 1rem;
    padding: 0.3rem;
    margin-bottom: 0.2rem;
    
}


@media screen and (max-width:370px){
    
    .pokemons{
        margin: 0;
        list-style-type: none;
        display: grid;
        grid-template-columns: 1fr;
    }

    .pokemon .detail img{
        align-self: flex-end ;
        border-style: none;
        max-width: 100%;
        height: 80px;
    }

    .detail{
        display: flex;
        flex-flow: row;
        align-items: center;
        
    }
    

}

@media screen and (min-width:768px) {
    
    .pokemons{
        margin: 0;
        list-style-type: none;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

}

